<div class="ifs-form" data-nacho="ifs-form">
    <h2>Subscribe to our newsletter for more search marketing news & industry trends</h2>
    <form accept-charset="UTF-8" action="https://dr511.infusionsoft.com/app/form/process/25acc48076c47e5609a411708dbc16e6" class="infusion-form" id="inf_form_25acc48076c47e5609a411708dbc16e6" method="POST">
        <input name="inf_form_xid" type="hidden" value="25acc48076c47e5609a411708dbc16e6" />
        <input name="inf_form_name" type="hidden" value="Web Form submitted" />
        <input name="infusionsoft_version" type="hidden" value="1.70.0.93876" />
        <div class="infusion-field">
            <label for="inf_field_Email" style="display: none">Email *</label>
            <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email Address" type="text" />
        </div>
        <div class="infusion-submit">
            <button type="submit">Subscribe</button>
        </div>
    </form>
</div>
