<nav class="site-nav nacho-nav">
    <div class="site-nav-left">
        <a href="https://www.nachoanalytics.com/" class="nacho-logo site-nav-logo" data-nacho="nav-home-link">
            <img data-v-4eecbfb2="" src="https://cdn.nachoanalytics.com/dist/img/logotype-full-color-black.a3cd7a76.svg" />
        </a>
        {{> "gsearch"}}
    </div>
    <div class="site-nav-right">
        <div class="nav-items">
            <ul>
                <li><a href="https://www.nachoanalytics.com/how-it-works">How it Works</a></li>
                <li><a href="https://www.nachoanalytics.com/blog/">Blog</a></li>
                <li><a href="http://help.nachoanalytics.com">Tutorials</a></li>
                <li data-guest-only><a href="https://www.nachoanalytics.com/pricing">Pricing</a></li>
                <li data-guest-only><a href="https://www.nachoanalytics.com/login">Login</a></li>
                <li data-guest-only><a href="https://www.nachoanalytics.com/pricing" class="nacho-button">Start Free Trial</a></li>
            </ul>
        </div>
    </div>
    <div class="site-nav-mobile">
        <span data-nacho="hamburger" class="hamburger">☰</span>
    </div>
</nav>
<div class="mobile-nav-menu" data-nacho="mobile-nav-menu">
    <ul>
        <li><a href="http://help.nachoanalytics.com">Tutorials</a></li>
        <li><a href="https://www.nachoanalytics.com/pricing" class="nacho-button">Start Free Trial</a></li>
    </ul>
</div>


{{#contentFor "scripts"}}
<script>
$(document).ready(function() {
    $('[data-nacho="hamburger"]').click(function() {
        $('[data-nacho="mobile-nav-menu"]').slideToggle()
    });
});

$.get('//www.nachoanalytics.com/api/account/getactivestate', function (data) {
    if (data.user.isLoggedIn) {
        $("[data-guest-only]").fadeOut();
    }
});
</script>
{{/contentFor}}
