<nav class="site-nav nacho-nav">
    <div class="site-nav-left">
        <a href="https://www.spyfu.com/" class="nacho-logo-wrapper site-nav-logo" data-nacho="nav-home-link">
            <img class="nacho-logo" src="{{asset 'spyfu_logo.svg'}}" />
        </a>
    </div>
    <div class="site-nav-right">
        <div class="nav-items">
            <ul>
		<li><a href="https://www.spyfu.com/blog/">All Content</a></li>
                <li><a href="http://help.spyfu.com">Tutorials</a></li>
                <li data-guest-only><a href="https://www.spyfu.com/mainpurchase">Pricing</a></li>
                <li data-guest-only><a href="https://www.spyfu.com/auth/login">Login</a></li>
                <li><a href="https://www.spyfu.com/mainpurchase" class="nacho-button">Start Free Trial</a></li>
            </ul>
        </div>
    </div>
    <div class="site-nav-mobile">
        <span data-nacho="hamburger" class="hamburger">☰</span>
    </div>
</nav>
<div class="mobile-nav-menu" data-nacho="mobile-nav-menu">
    <ul>
        <li><a href="https://www.spyfu.com/blog/">All Content</a></li>
        <li><a href="http://help.spyfu.com">Tutorials</a></li>
        <li data-guest-only><a href="https://www.spyfu.com/mainpurchase">Pricing</a></li>
        <li data-guest-only><a href="https://www.spyfu.com/auth/login">Login</a></li>
        <li><a href="https://www.spyfu.com/mainpurchase" class="nacho-button">Start Free Trial</a></li>
    </ul>
</div>


{{#contentFor "scripts"}}
<script>
$(document).ready(function() {
    $('[data-nacho="hamburger"]').click(function() {
        $('[data-nacho="mobile-nav-menu"]').slideToggle()
    })
})
</script>
{{/contentFor}}
