{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer nacho-header">
    {{> "site-nav"}}
</header>

<div class="nacho-alert" data-nacho="alert" style="display:none;">
    Thanks for signing up!
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#get "posts" limit="all" filter="featured:true" as |featured|}}
                {{#foreach featured}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
            {{> "ifs-form"}}
            {{#get "posts" limit="all" filter="featured:false" as |featured|}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
<script>
// https://stackoverflow.com/questions/7731778/get-query-string-parameters-url-values-with-jquery-javascript
var urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                      .exec(window.location.search)
    return (results && results[1]) || 0
}

$(document).ready(function() {
    if (urlParam("signup")) {
        $('[data-nacho="alert"]').slideDown()
    }
})
</script>
{{/contentFor}}
