{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<header class="site-header outer nacho-header">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

<div class="site-header-content">
    <div class="tag-title-wrapper">
        <h1 class="site-title">
            <span class="nacho-category">I want to learn about:
                <span class="faux-dropdown" data-nacho="faux-dropdown"><span class="nacho-underline"> {{name}}</span>
                    <span class="nacho-dropdown-arrow" data-nacho="arrow-down">▼</span>
                    <span class="nacho-dropdown-arrow" data-nacho="arrow-up" style="display: none">▲</span>
                </span>
            </h1>
        <div class="tags-dropdown" data-nacho="faux-options" style="display: none;">
            {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
            {{#foreach tags}}
            <a href='{{ url }}' class="nacho-link nacho-category-dropdown">
                <h2>{{ name }}</h2>
            </a>
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</div>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

{{#contentFor "scripts"}}
<script>
$(document).ready(function() {
    $('[data-nacho="faux-dropdown"]').click(function() {
        $('[data-nacho="faux-options"]').slideToggle();
        $('[data-nacho="arrow-up"]').toggle();
        $('[data-nacho="arrow-down"]').toggle();
    })
})
</script>
{{/contentFor}}
